<h1 style="text-align:center; font-family:Verdana,Geneva,Tahoma,sans-serif; margin:50px;">INICIA SESION</h1>

<form id="loginFormulario" style="text-align: center; font-family:Verdana,Geneva,Tahoma,sans-serif;">
    <label>EMAIL</label>
    <input name="email">

    <label>CONTRASEÑA</label>
    <input type="password" name="contraseña">

    <input type="submit">
</form>

<p style="text-align: center; margin: 50px;">¿No estas Logueado? <a href="/registro">REGISTRATE</a> </p>

<script src="/js/login.js"></script>