<h1 style="text-align:center; font-family:Verdana,Geneva,Tahoma,sans-serif; margin:50px;">REGISTRATE</h1>

<form id="registroFormulario" style="text-align: center; font-family:Verdana,Geneva,Tahoma,sans-serif;">
    <label>NOMBRE</label>
    <input name="nombre">

    <label>APELLIDO</label>
    <input name="apellido">

    <label>EMAIL</label>
    <input name="email">

    <label>CONTRASEÑA</label>
    <input type="password" name="contraseña">

    <input type="submit">
</form>

<p style="text-align: center; margin: 50px;">¿Ya estas Registrado? <a href="/login">INICIA SESION</a> </p>

<script src="/js/registro.js"></script>