<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>

<body>

    <header>
        <%- include('./partials/headerLog', { userLog: userLog, current: '#' }) %>
    </header>

    <div class="jumbotron">
        <main>
            <div class="jumbotron">
                <h2 class="display-4" style="margin-top:100px; font-size: xx-large; text-align: center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">TU COMPRA FUE REALIZADA CON EXITO, MUCHAS GRACIAS <%= userLog.username %>!</h2>
            </div>
        </main>
    </div>

    <footer>
        <%- include('./partials/footer') %>
    </footer>

</body>

</html>