<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <div class="jumbotron">
        <h1 class="display-4" style="margin-top:100px; font-size: xx-large; text-align: center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Bienvenidos a mi Proyecto Final de Programación Backend en Coderhouse (Lucas Delbene)</h1>
    </div>
</body>

</html>