<div style="text-align: center; margin:50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <h1>LOGUEATE</h1>

    <form id="loginFormulario" style="margin:40px;">
        <label>CORREO</label>
        <input name="email">

        <label>CONTRASEÑA</label>
        <input type="password" name="password">
        <input type="submit">
    </form>

    <p style="margin: 50px;">¿NO ESTAS LOGUEADO?<br> <a href="/registro">REGISTRATE</a></p>
</div>

<script src="/js/login.js"></script>