<h1 style="text-align:center; font-size:x-large; margin:150px 0px 10px;">INGRESE LOS DATOS DE LA PERSONA</h1>
<form action="/personas" method="post">
    <div class="d-flex flex-column align-items-center">
        <input type="text" name="nombre" class="form-control" placeholder="Nombre" style="margin-bottom: 10px;">
        <input type="text" name="apellido" class="form-control" placeholder="Apellido" style="margin-bottom: 10px;">
        <input type="number" name="edad" class="form-control" placeholder="Edad" style="margin-bottom: 10px;">
        <button type="submit" class="btn btn-primary">INGRESAR PERSONA</button>
    </div>
</form>