/*BOTONES INDEX*/
.botonesIndex{
	margin: 10px 400px 30px;
}
.botonIniciarSesion button{
	display: flex;
	align-items: center;
	justify-content: end;
	font-size: 15px;
	margin-top: 20px;
	padding: 0 60px;
	height: 55px;

	font-family: 'Quicksand', sans-serif;
	background-color: black;
	outline: none;
	cursor: pointer;
	transition: 0.4s ease all;
	border: 2px solid var(--secundario);
	border-radius: 5px;
	color: var(--primario);
}
.botonIniciarSesion button a{
	text-decoration: none;
	color: white;
}
.botonIniciarSesion button:hover{
	background-color: #343A40;
}
.botonIniciarSesion button a:hover{
	color:white
}

.botonRegistrarse button{
	display: flex;
	align-items: center;
	justify-content: end;
	font-size: 15px;
	margin-top: 20px;
	padding: 0 64px;
	height: 55px;

	font-family: 'Quicksand', sans-serif;
	background-color: black;
	outline: none;
	cursor: pointer;
	transition: 0.4s ease all;
	border: 2px solid var(--secundario);
	border-radius: 5px;
	color: var(white);
}
.botonRegistrarse button a{
	text-decoration: none;
	color: white;
}
.botonRegistrarse button:hover{
	background-color: #343A40;
}
.botonRegistrarse button a:hover{
	color:white
}