<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <div class="container">
        <header>
            <%- include('./partials/header', {current: 'formularioProductos'}) %>
        </header>
        <main>
            <div class="jumbotron">
                <h2 style="margin: 0px 0px 30px; text-align: center;">INGRESE LOS DATOS DEL PRODUCTO</h2>

                <div class="form-group">
                    <label for="nombre">NOMBRE</label>
                    <input type="text" name="nombre" class="form-control" id="nombreFormulario">
                </div>

                <div class="form-group">
                    <label for="precio">PRECIO</label>
                    <input type="number" name="precio" class="form-control" id="precioFormulario">
                </div>

                <div class="form-group">
                    <label for="imagen">IMAGEN URL</label>
                    <input type="text" name="imagen" class="form-control" id="imagenFormulario">
                </div>

                <button id="enviarMensaje" class="btn btn-primary">ENVIAR</button>

            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">PRECIO</th>
                        <th scope="col">IMAGEN</th>
                    </tr>
                </thead>
                <tbody id="tbodyProductos">

                </tbody>
            </table>

        </main>

        <footer>
            <%- include('./partials/footer') %>
        </footer>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.3/qs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./formularioProductos.js"></script>
</body>

</html>