<div style="text-align: center; margin:50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <h1>REGISTRATE</h1>

    <form id="registroFormulario" style="margin:40px;">
        <label>NOMBRE</label>
        <input name="nombre">

        <label>APELLIDO</label>
        <input name="apellido">
    
        <label>CORREO</label>
        <input name="email">
        
        <label>CONTRASEÑA</label>
        <input type="password" name="password">
        <input type="submit">
    </form>

    <p style="margin: 50px;">¿YA ESTAS REGISTRADO?<br> <a href="/login">LOGUEATE</a></p>
</div>

<script src="/js/registro.js"></script>