<footer class="bg-dark text-center text-white">
    <section class="mb-4">
        <p>DESAFIO ENTREGABLE - MOCKS y NORMALIZACION</p>
    </section>
    
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        CURSO PROGRAMACION BACKEND EN <a class="text-white" href="https://www.coderhouse.com.ar/">CODERHOUSE</a> - LUCAS DELBENE
    </div>
</footer>