{{#if products.length}}
    <div class="table-responsive">
        <table class="table table-dark">
            <tr>
                <th class="text-center text-light">ID</th>
                <th class="text-center text-light">NOMBRE</th>
                <th class="text-center text-light">PRECIO</th> 
            </tr>
            {{#each products}}
                <tr>
                    <td class="text-center text-light">#{{this.id}}</td>
                    <td class="text-center text-light">{{this.nombre}}</td>
                    <td class="text-center text-light">€{{this.precio}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
    {{else}}
    <h3 class="tituloNoHayProductos">NO HAY PRODUCTOS CARGADOS</h1>
{{/if}}