<!DOCTYPE html>
<html lang="es">
    
  {{> head}}

  <body class="bg-dark">
    <div class="container mt-3">
        <div class="jumbotron bg-dark">
            {{{body}}}
        </div>
    </div>
  </body>
</html>