<footer id="footer" class="footer-1">
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p style="text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Proyecto Final de Programación Backend en CoderHouse (Lucas Delbene)</p>
                </div>
            </div>
        </div>
    </div>
</footer>