<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">

      <a class="navbar-brand" href="/bienvenida" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">INICIO</a>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="/api/productos">PRODUCTOS</a>
          </li>

          <% if(userLog.admin){ %>
            <li class="nav-item">
              <a class="nav-link" href="/formAddProduct">AGREGAR PRODUCTOS</a>
            </li>
          <% } %>

          <li class="nav-item">
            <a class="nav-link" href="/api/carrito">CARRITO</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/profile">PERFIL</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/logout">CERRAR SESION</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>  