<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <div class="jumbotron">
        <h1 class="display-4">PROYECTO PROGRAMACION BACKEND EN CODERHOUSE</h1>
        <hr class="my-4">
        <p>DENTRO DEL SITIO WEB SE PODRAN ENCONTRAR CON UN MENU DE REGISTRO y AUTENTICACION DE USUARIOS BASADO EN PASSPORT LOCAL, GUARDANDO EN LA BASE DE DATOS LAS CREDENCIALES y EL RESTO DE LOS DATOS INGRESADOS AL MOMENTO DEL REGISTRO</p>
        
        <ul>
            <li>EL REGISTRO DE USUARIO CONSISTE EN CREAR UNA CUENTA EN EL SERVIDOR ALMACENADA EN LA BASE DE DATOS, QUE CONTENGA EL EMAIL y CONTRASEÑA DEL USUARIO, ADEMAS DE SU NOMBRE, DIRECCION, EDAD, NUMERO DE TELEFONO y FOTO o AVATAR. LA CONTRASEÑA SE ALMACENARA ENCRIPTADA EN LA BASE DE DATOS</li>
            <li>LA IMAGEN SE PODRA SUBIR AL SERVIDOR y SE GUARDARA EN UNA CARPETA PUBLICA DEL MISMO A LA CUAL SE TENGA ACCESO POR URL</li>
        </ul>

        <p>UN FORMULARIO POST DE REGISTRO y UNO DE LOGIN. DE MODO QUE, LUEGO DE CONCRETARSE CUALQUIERA DE ESTAS OPERACIONES EN FORMA EXITOSA EL USUARIO ACCEDERA A SU HOME o INICIO</p>

        <ul>
            <li>EL USUARIO SE LOGUEARA AL SISTEMA CON EMAIL y CONTRASEÑA y TENDRA ACCESO A UN MENU EN SU VISTA, A MODO DE BARRA DE NAVEGACION. ESTO LE PERMITIRA VER LOS PRODUCTOS TOTALES CON LOS FILTROS QUE SE HAYAN IMPLEMENTADO y SU PROPIO CARRITO DE COMPRAS e INFORMACION PROPIA. ADEMAS, DISPONDRA DE UNA OPCION PARA DESLOGUEARSE DEL SISTEMA</li>
            <li>ANTE LA INCORPORACION DE UN USUARIO, EL SERVIDOR ENVIARA UN EMAIL AL ADMINISTRADOR CON TODOS LOS DATOS DE REGISTRO, A UNA DIRECCION QUE SE ENCUENTRE POR EL MOMENTO ALMACENADA EN UNA CONSTANTE GLOBAL</li>
        </ul>

        <p>ENVIO DE UN EMAIL y UN MENSAJE DE WHATSAPP AL ADMINISTRADOR DESDE EL SERVIDOR, A UN NUMERO DE CONTACTO ALMACENADO EN UNA CONSTANTE GLOBAL</p>
     
        <ul>
            <li>EL USUARIO INICIARA LA ACCION DE PEDIDO EN LA VISTA DEL CARRITO</li>
            <li>SERA ENVIADO UNA VEZ FINALIZADA LA ELECCION PARA REALIZAR LA COMPRA DE PRODUCTOS</li>
            <li>EL EMAIL CONTENDRA EN SU CUERPO LA LISTA COMPLETA DE PRODUCTOS A COMPRAR y EN EL ASUNTO LA FRASE 'NUEVO PEDIDO DE' y EL NOMBRE y EMAIL DEL USUARIO QUE LOS SOLICITO. EN EL MENSAJE DE WHATSAPP SE DEBE ENVIAR LA MISMA INFORMACION DEL ASUNTO DEL EMAIL</li>
            <li>EL USUARIO RECIBIRA UN MENSAJE DE TEXTO AL NUMERO QUE HAYA REGISTRADO, INDICANDO QUE SU PEDIDO HA SIDO RECIBIDO y SE ENCUENTRA EN PROCESO</li>
        </ul>
    </div>
</body>

<footer>
    <%- include('./partials/footer') %>
</footer>

</html>